html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

#main{
	flex: auto;
	height:100%;
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

#content{
	border: 1px solid black;
	display:flex;
	flex-direction:column;
	align-items: stretch;
	justify-content: start;
}

#content > form{
	border: 1px solid black;
	padding: 20px;
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: start;
}

form >input, form>div{
	margin: 10px;
}

#header{
	display:flex;
	flex-direction: row;
	justify-content: end;
	padding:10px;
	align-items: start;
}

#header > a{
	padding: 5px;
	border: 1px solid black;
	margin:2px;
	border-radius:2px;
	text-decoration:none;
}

.preview{
	padding:20px;
	border: 1px solid black;
}

.info{
	display:flex;
	flex-direction: row;
	justify-content: stretch;
}

.text{
	border: 1px solid black;
	padding: 10px;
	margin: 0 20px;
	width: 220px;
}

.stat 
{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}

#sity{
	display:flex;
	flex-direction: row;
	justify-content: stretch;
	height: 200px;
	margin: 10px;
}

#sity-info{
	display:flex;
	flex-direction: column;
	justify-content: top;
	flex-wrap: wrap;
	justify-content: space-between;
}

#sity-info > .text{
	margin: 10px 20px;
}

.comment-header{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.comment{
	margin: 20px 10px;
	padding: 10px;
	border: 1px solid lightblue;
}

.comment-info{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	width: 300px;
}

.comment-images{
	display:flex;
	flex-direction: row;
	justify-content: start;
	flex-wrap: wrap;
}

.comment-images > img{
	margin: 10px;
}

.comment-footer{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

#user{
	width:100%;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

#user-info{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	flex:auto;
	padding: 10px;
	wrap: nowrap;
}
#user-info > .text{
	margin: 10px;
}

.user-comment{
	margin: 10px 10px;
	padding: 10px;
	border: 1px solid lightblue;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.user-comment-preview{
	flex:auto;
}

.user-comment-info{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}